.reviewBox {
  border: 1px solid;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: auto;
  background-color: #a881af;
  margin-top: 10px;
}

.reviewBox h2 {
  color: white;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noReview {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  color: black;
}

.review {
  padding: 15px;
  background-color: white;
  margin: 2px;
  border: solid #80669d;
}

.review:first-child {
  border-top: none;
}

.review p {
  margin: 5px 0;
}
