* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navigation {
  background-color: #a881af;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 30px;
  border-bottom-style: outset;
  border-bottom-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navigation li:hover {
  color: black;
}

.navigation li {
  display: block;
  flex: 0 1 auto;
}

.navigation link {
  color: inherit;
  text-decoration: none;
}
