.footer {
  display: flex;
  background-color: white;
  width: 100%;
  border-top-style: outset;
  border-top-color: grey;
  position: static;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.leftText,
.rightText {
  margin: 0;
  padding: 10px;
}
